$pageInd: 20px;
$fontPath: "assets/fonts";
$font: "Roboto-Regular";

// подключаем шрифты
@mixin fontface($family, $filename, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url("#{$filename}.woff") format("woff"),
            url("#{$filename}.ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include fontface($font, "#{$fontPath}/Roboto-Regular");

// сброс стилей
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: $font, Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

#__nuxt,
.app {
    min-height: inherit;
}

.app {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

// стили для скролла
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;
}

// контайнер для страницы
.container {
    width: 100%;
    max-width: 960px;
    padding-left: $pageInd;
    padding-right: $pageInd;
    margin-left: auto;
    margin-right: auto;
}
